
{% extends "::layout.html.twig" %}


{%block h1%} The person buying the ticket has to enter her infos here :{% endblock %}

{% block p1 %}
	<div class="well">
 		 {{ form(formu) }}
	</div>
{% endblock %}


{%block h1n%} Calendar : {% endblock %}
{% block p1n%}


<div class="container">
    <div class="col-sm-6" style="height:130px;">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker11'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker11').datetimepicker({
                daysOfWeekDisabled: [0, 6]
            });
        });
    </script>
</div>


{%endblock%}



