
{% extends "::layout.html.twig" %}


{%block h1%} Votre billet{% endblock %}
{% block p1 %}<div class="well">
  {{ form(formu) }}
</div>{% endblock %}
{%block h1n%} Billets accompagnateurs{% endblock %}
