
{% extends "::layout.html.twig" %}

{% block title %}
 {{ parent() }}
{% endblock %}

{%block h1%}Choose a date
{% endblock %} 

 
{% block p1 %}


      <<< Calendar >>>


{% endblock %}


{%block h1n %}Choose how many bills you need
{% endblock %} 

{% block p1n %}


      <<< List >>>


{% endblock %}

{%block h1n2 %}Which types of tickets do you want 
{% endblock %} 

{% block p1n2 %}


      <<< List of tickets (kid/senior..) >>>


{% endblock %}


{% block a %}
  <a class="btn btn-primary btn-lg" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2">
         Validate
        </a>
{% endblock %}

